<ul nz-menu nzMode="inline" class="side-bar">
  <li nz-menu-item>
    <a [routerLink]="['/admin']">
      <span nz-icon nzType="mail"></span>
      Tiendas
    </a>
  </li>
  <li nz-menu-item>
    <a [routerLink]="['/admin', 'products']">
      <span nz-icon nzType="mail"></span>
      Productos
    </a>
  </li>
  <li nz-menu-item>
    <a [routerLink]="['/admin','invoices']">
      <span nz-icon nzType="mail"></span>
      Facturas
    </a>
  </li>
  <li nz-menu-item>
    <a [routerLink]="['/admin','orders']">
      <span nz-icon nzType="shopping" ></span>
      Ordenes
    </a>
  </li>
  <li nz-menu-item>
    <a [routerLink]="['/admin','orders']">
      <span nz-icon nzType="shopping" ></span>
      newTab
    </a>
  </li>
</ul>